@{
  Layout = "_Layout";
}
@using GoFish.Models;

<form action="/playerone" method="post">
  <button type="submit">Player One Click here</button>
</form>

<form action="/playertwo" method="post">
  <button type="submit">Player Two Click here</button>
</form>